<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        textarea { height: 120px; margin: 5px 20px; font-size: 12px;}
        #proc_status {width: 30%}
        #proc_data {width: 60%}
    </style>
    <title>Info</title>
    <textarea id="proc_status">{% for queue_entry in object_list %}{{queue_entry.last_outcome_date|date:"d.m.Y H:i:s"}} {{queue_entry.url}} {% if queue_entry.status == 's' %}Success{%elif queue_entry.status == 'f'%}Error - {{queue_entry.error}}{%endif%}
{% endfor %}</textarea>
    <textarea id="proc_data">{% for parse_result in successful_results %}{{parse_result.url.url}} -{%if parse_result.header%} header:"{{parse_result.header}}"{%endif%}{%if parse_result.title%} title:"{{parse_result.title}}"{%endif%}{%if parse_result.encoding%} encoding:"{{parse_result.encoding}}"{%endif%}
{% endfor %}</textarea>
</head>
<body>

</body>
</html>
